<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllDisks</key>
	<array>
		<string>disk0</string>
		<string>disk0s1</string>
		<string>disk0s2</string>
		<string>disk0s3</string>
		<string>disk0s4</string>
		<string>disk0s5</string>
		<string>disk0s6</string>
		<string>disk0s7</string>
		<string>disk0s8</string>
	</array>
	<key>AllDisksAndPartitions</key>
	<array>
		<dict>
			<key>Content</key>
			<string>GUID_partition_scheme</string>
			<key>DeviceIdentifier</key>
			<string>disk0</string>
			<key>Partitions</key>
			<array>
				<dict>
					<key>Content</key>
					<string>EFI</string>
					<key>DeviceIdentifier</key>
					<string>disk0s1</string>
					<key>DiskUUID</key>
					<string>864B7C8C-499E-11E7-8DC3-806E6F6E6963</string>
					<key>Size</key>
					<integer>209715200</integer>
					<key>VolumeName</key>
					<string>EFI</string>
					<key>VolumeUUID</key>
					<string>0E239BC6-F960-3107-89CF-1C97F78BB46B</string>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_HFS</string>
					<key>DeviceIdentifier</key>
					<string>disk0s2</string>
					<key>DiskUUID</key>
					<string>864B7C8D-499E-11E7-8DC3-806E6F6E6963</string>
					<key>MountPoint</key>
					<string>/</string>
					<key>Size</key>
					<integer>160726872064</integer>
					<key>VolumeName</key>
					<string>macOS Sierra</string>
					<key>VolumeUUID</key>
					<string>F8D90A8F-5B11-3CBF-9560-AFA852358869</string>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_Boot</string>
					<key>DeviceIdentifier</key>
					<string>disk0s3</string>
					<key>DiskUUID</key>
					<string>C6284905-8B39-4852-B104-1C0EFE4FDCD4</string>
					<key>Size</key>
					<integer>650002432</integer>
					<key>VolumeName</key>
					<string>Recovery HD</string>
					<key>VolumeUUID</key>
					<string>8D8CF1EF-15E1-3808-8C6D-0B093E2AA43A</string>
				</dict>
				<dict>
					<key>Content</key>
					<string>Microsoft Reserved</string>
					<key>DeviceIdentifier</key>
					<string>disk0s4</string>
					<key>DiskUUID</key>
					<string>E0250B64-C74A-46BB-85C5-EFD9EEB9B71B</string>
					<key>Size</key>
					<integer>16777216</integer>
				</dict>
				<dict>
					<key>Content</key>
					<string>Microsoft Basic Data</string>
					<key>DeviceIdentifier</key>
					<string>disk0s5</string>
					<key>DiskUUID</key>
					<string>2EF2D893-6135-49F5-8792-A06E9EB40EF8</string>
					<key>MountPoint</key>
					<string>/Volumes/WindowsOS</string>
					<key>Size</key>
					<integer>160571588608</integer>
					<key>VolumeName</key>
					<string>WindowsOS</string>
					<key>VolumeUUID</key>
					<string>7A3103BE-D8FA-4042-835B-6B30DD391170</string>
				</dict>
				<dict>
					<key>Content</key>
					<string>Windows Recovery</string>
					<key>DeviceIdentifier</key>
					<string>disk0s6</string>
					<key>DiskUUID</key>
					<string>9CFFCD28-E35E-4A4A-8AE6-5ABB6FB12CD3</string>
					<key>Size</key>
					<integer>471859200</integer>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_HFS</string>
					<key>DeviceIdentifier</key>
					<string>disk0s7</string>
					<key>DiskUUID</key>
					<string>5510919F-996F-4296-B293-0E0E3D4D31A6</string>
					<key>Size</key>
					<integer>258112225280</integer>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_HFS</string>
					<key>DeviceIdentifier</key>
					<string>disk0s8</string>
					<key>DiskUUID</key>
					<string>864B7C8F-499E-11E7-8DC3-806E6F6E6963</string>
					<key>MountPoint</key>
					<string>/Volumes/Backup</string>
					<key>Size</key>
					<integer>419176321024</integer>
					<key>VolumeName</key>
					<string>Backup</string>
					<key>VolumeUUID</key>
					<string>B75F9154-8722-347A-AFE1-03FAA1AC5AE3</string>
				</dict>
			</array>
			<key>Size</key>
			<integer>1000204886016</integer>
		</dict>
	</array>
	<key>VolumesFromDisks</key>
	<array>
		<string>macOS Sierra</string>
		<string>WindowsOS</string>
		<string>Backup</string>
	</array>
	<key>WholeDisks</key>
	<array>
		<string>disk0</string>
	</array>
</dict>
</plist>
